<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>137984889895-ke4bu49i49f65dobh7mauo0tn6btdll7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137984889895-ke4bu49i49f65dobh7mauo0tn6btdll7</string>
	<key>API_KEY</key>
	<string>AIzaSyBYsSaabJScLe-2ts3Vshg135FSJVwuEUk</string>
	<key>GCM_SENDER_ID</key>
	<string>137984889895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.vieira.chatOnline</string>
	<key>PROJECT_ID</key>
	<string>chat-online-flutter-a3db3</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-online-flutter-a3db3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137984889895:ios:5c7ab166d443c53c</string>
	<key>DATABASE_URL</key>
	<string>https://chat-online-flutter-a3db3.firebaseio.com</string>
</dict>
</plist>